<div class="main-container">

    <div class="form-grid">
        <div class="left-side">
            <div class="image">
                <img src="./../../../../../assets/images/machinarium-1.png" alt="" srcset="">
            </div>
        </div>
        <div class="right-side">
            <div class="info">
                <h2>
                    Welcome Back!
                </h2>

                <p>Kindly fill out the form to log in.</p>
            </div>

            <form [formGroup]="myForm" class="main-form" (ngSubmit)="submitHandler()">
            
                
                <mat-form-field class="form-input">
            
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. example@gmail.com" formControlName='email'>
            
                    <mat-error *ngIf="email.invalid && email.touched">
                        Your email does not look right
                    </mat-error>
            
                </mat-form-field>
            
                <mat-form-field class="form-input">
            
                    <mat-label>Password</mat-label>
                    <input type='password' matInput formControlName='password'>
            
                    <mat-hint align="end">
                        Must have at least one number and more than 6 characters.
                    </mat-hint>
            
                    <mat-error *ngIf="password.invalid && password.touched">
                       Your password must have at least one number and be more than 6 characters.
                    </mat-error>
            
                </mat-form-field>
              
                <button mat-raised-button [disabled]="myForm.invalid"  class="buttons" >Login</button>
            </form>

            <div class="already">
                <p>If you do not have an account, <a [routerLink]="['/', 'signup']">click here</a> to sign up.</p>
            </div>
        </div>
        
    </div>

</div>