


.main-container{
    padding: 99px;
    height: calc(100vh-198px);
    font-family: 'Comfortaa', cursive;
}

.mat-form-field, h1, h2{
    font-family: 'Comfortaa', cursive;
}

@media (max-width: 690px){
    .main-container{
        width: fit-content;
        height: 100vh;
        padding: 10px;
    }
}