@import './../../../../../assets/scss/defaults';

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: calc(100vh - 198px);
    max-width: 1298px;
    min-width: 880px;
    margin: 0px auto;
    vertical-align: middle;
    background-color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

    .left-side{
        background-color: #F3F3F3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side{
        text-align: left;
        //margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;

        h2{
            font-size: 2.5em;
        }        
        p{
            margin-bottom: 20px;
        }

        form{
            height: fit-content;
            .main-form{
                min-width: 150px;
                max-width: 400px;
            }
            
            .form-input{
                width: 100%;
                margin: 5px 0;
            }

            .buttons{
                margin: 20px 0;
                padding: 0px 32px;
            }
            
            
        }
        .already{
            margin: 10px 0;
            font-size: .8em;
            
        }
    }
}

@media (max-width: 1150px){
    .form-grid{
        grid-template-columns: 1fr;
        max-width: 720px;
        min-width: 500px;
        .left-side{
            display: none;
        }
        .right-side{
            padding: 0 100px;
            form{
                .main-form{
                    min-width: 150px;
                    max-width: 300px;
                }
            }
        }
    }
}

@media (max-width: 680px){
    .form-grid{
        width: calc(100%-50px);
        height: fit-content;
        .right-side{
            padding: 0 20px;
            h2{
                margin-top: 20px;
            }
            form{
                .main-form{
                    width: 80%;
                }
            }
        }
    }
}