<div class="whole-container">
    <mat-toolbar class="header">
        <h2>Picture Gallery</h2>
        <button mat-raised-button class="buttons" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="container">
        <div class="user-area">
            <div class="user">
                <figure>
                    <img src="./../../../../../assets/images/machinarium-avatar.png" alt="" srcset="">
                </figure>
                <span>
                    <div class="full-name">
                        <p>{{user.first_name}}</p>
                    </div>
                    <div class="email">
                        <p>{{user.email}}</p>
                    </div>
                </span>
            </div>
            
        </div>
        <div class="main-area" >
            <mat-card class="card" *ngFor="let data of dataset">
                <img mat-card-image [src]="data.image" alt="photo" object-fit= "cover" width="100%"/>
                <mat-card-content>
                    <p class="title">{{data.title}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <p >
                        <strong>{{data.num_of_likes}}</strong> LIKES .   
                        <strong>{{data.num_of_shares}}</strong> SHARES  .      
                        <strong>{{data.num_of_comments}}</strong> COMMENTS    
                    </p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
