.whole-container{
    font-family: 'Comfortaa', cursive;

    .header{
        font-family: 'Comfortaa', cursive;
        position: fixed;
        background: white;
        box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.14);

        h2{
            margin: 0 auto;
            
        }
    }
    .container{
        max-width: 935px;
        padding-top: 30px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        .user-area{
            float: left;
            position: fixed;
            width: 100%;
            max-width: 239px;
            height: 100vh;
            margin-top: 64px;

            .user{
                display: flex;
                figure{
                    margin: 0;
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    border-radius: 50%;
                    img{
                        width: 70px;
                        height: 100%;
                    }
                    background-color: pink;
                }
                span{
                    padding: 12px;
                    .email{
                        color: rgba(0, 0, 0, 0.5);
                        font-size: .8em;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
            button{
                margin: 50px 0px;
            }
        }
        .main-area{
          
            position: relative;
            left: 239px;
            margin-left: 28px;
            float: right;
            width: 100%;
            max-width: 614px;
            height: 1000px;
            margin-top: 64px;
            z-index: -1;

            .card{
                margin-bottom: 50px;
                img{
                    object-fit: scale-down;
                }
                .title{
                    font-weight: 700;
                }
                strong{
                    margin:0;
                }
            }
        }

    }
}



@media (max-width: 915px){
    .whole-container{
        .container{
            flex-direction: column;
            .user-area{
                display: none;
                
            }
            .main-area{
                padding: 0 20px;
                margin: 74px auto;
                left: 0;
            }
        }
    }
}