<div class="main-container">

    <div class="form-grid">
        <div class="left-side">
            <div class="image">
                <img src="./../../../../../assets/images/machinarium-3.png" alt="" srcset="">
            </div>
        </div>
        <div class="right-side">
            <div class="info">
                <h2>
                    Hello!
                </h2>

                <p>Kindly fill out the form to sign up</p>
            </div>

            <form [formGroup]="myForm" class="main-form" (ngSubmit)="submitHandler()">
            
                <mat-form-field class="form-input">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="John" formControlName='first_name'>
                </mat-form-field>
            
                <mat-form-field class="form-input">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Doe" formControlName='last_name'>
                </mat-form-field>
            
                <mat-form-field class="form-input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example@gmail.com" formControlName='email'>
                    <mat-error *ngIf="email.invalid && email.touched">
                        Your email does not look right
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="form-input">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="0241234567" formControlName='phone_number'>
                    <mat-error *ngIf="phone_number.invalid && email.touched">
                        Your phone number does not look right
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="form-input">
                    <mat-label>Password</mat-label>
                    <input type='password' name="password" matInput formControlName='password'>
                    <mat-hint align="end">
                        Must have at least one number and more than 6 values
                    </mat-hint>
                    <mat-error *ngIf="password.invalid && password.touched">
                        Your password is not strong enough
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="form-input">
                    <mat-label>Re-enter Password</mat-label>
                    <input type='password' appConfirmEqualValidator="password" matInput formControlName='password1'>
                    <mat-hint align="end">
                        Must be the same as the previous
                    </mat-hint>
                    <mat-error *ngIf="password1.errors?.notEqual && password1.touched">
                        Your passwords do not match.
                    </mat-error>
                </mat-form-field>
              
                <button mat-raised-button [disabled]="myForm.invalid"  class="buttons" >Signup</button>
            </form>
 

            <div class="already">
                <p>If you already have an account, <a [routerLink]="['/', 'login']">click here</a> to log in.</p>
            </div>
        </div>
        
    </div>

</div>
