<div class="container">
    <div class="text">
        <h1>Hello! <br/>Anyone Home?!</h1>
        <h2>404. Page Not Found</h2>
        <button mat-raised-button (click)="redirect()" >Back to Safety</button>
    </div>
    <div class="image">
        <img src="./../../../../assets/images/machinarium-4.png" alt="" srcset="">
    </div>
</div>