.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background: #EEF2F7;
    .text{
        h1{
            font-weight: 700;
            font-size: 5em;
            line-height: normal;
        }
    }
}